stages:
        - test
        - build

test_py35:
        stage: test
        image: python:3.5-alpine
        script:
                - pip install poetry
                - tox

test_py36:
        stage: test
        image: python:3.6-alpine
        script:
                - pip install poetry
                - tox
test_py37:
        stage: test
        image: python:3.7-alpine
        script:
                - pip install poetry
                - tox

build_linux:
        stage: build
        image: python:3-alpine
        script:
                - pip install poetry
                - poetry install -vvv
                - poetry build

build_win:
        stage: build
        image: python:3-windowsservercore
        script:
                - pip install poetry
                - poetry install -vvv
                - poetry build
