sudo: false
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
matrix:
  include:
    - python: 3.7
      dist: xenial
install:
  - pip install tox-travis poetry
script: tox
# jobs:
#   include:
#     - stage: docs
#       python: 3.6
#       script: make docs
#       after_success:
#        - ./push.sh
