[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
future = "*"
funcsigs = "*"

[dev-packages]
sphinx = "*"
sphinxcontrib-napoleon = "*"
pytest = "*"
pytest-mock = "*"
tox = "*"
detox = "*"
pipenv = "*"
tox-pyenv = "*"
black = "==19.3b0"

# [requires]
# 
# python_version >= "2.7"
